{% extends 'base.html' %}


{% block content %}
    <h1>{{ val }}</h1>
    <table>
    {% for key, value in data.items() %}
       <tr>
            <th> {{ value }}</th>
            <form method="POST">
                
                <td><input type="submit" name="park-but" class="btn btn-danger navbar-btn" value="Park Code: {{key}}"></td>
                <td>'Put location here'</td>
                <!--<td><button><input name = 'park-but' class='btn btn-danger navbar-btn' type = 'submit' value = '{{key}}'>Park Code: {{key}}</button></td>-->
            </form>
           
       </tr>
    {% endfor %}
    </table>

    
{% endblock content %}